html{
	font-size: 62.5%; /*1rem=10px*/
}
body{
	background-color: #8888FF;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
header{
	overflow: hidden;
	padding: 20px 0;
	margin: 0 auto;
	width: 90%;
	color: #FFF;
}
#index{
	float: left;
	margin-left: 80px;
}
#link{
	float: right;
	overflow: hidden;
}
#link li{
	display: inline-block;
	margin-right: 20px;
	height: 30px;
}
#link li a,#index a{
	text-decoration: none;
	color: #EFEFEF;
	font-size: 2.5rem;   /*25px*/
}
#link li a:hover{
	color: #FFF;
}
.pg-canvas {
	z-index: -1;
	position: absolute;
}
svg{
	display: block;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	margin-top: 110px;
	padding: 10px;
}
path {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill:#8888FF;
  stroke:white;
  stroke-width:15;
}
#body{
  stroke-dasharray: 3985;
  -webkit-animation: body 3s ease-in-out/*  infinite*/;
  animation: body 3s ease-in-out  /*infinite*/;
}
#left{
  stroke-dasharray: 1250;
  -webkit-animation: leftbody 2.5s ease-in-out 3s/*  infinite*/;
  animation: leftbody 2.5s ease-in-out  3s/*infinite*/;
  	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}
#right{
  stroke-dasharray: 1250;
  -webkit-animation: rightbody 2.5s ease-in-out 3s/*  infinite*/;
  animation: rightbody 2.5s ease-in-out 3s/*infinite*/;
  	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

@-webkit-keyframes body{
	0%{stroke-dashoffset:3985}
	100%{stroke-dashoffset:0}
}

@keyframes body{
	0%{stroke-dashoffset:3985}
	100%{stroke-dashoffset:0}
}
@-webkit-keyframes leftbody{
	0%{stroke-dashoffset:1250;visibility:hidden}
	100%{stroke-dashoffset;visibility:visible}
}

@keyframes leftbody{
	0%{stroke-dashoffset:1250;visibility:hidden}
	100%{stroke-dashoffset:0;visibility:visible}
}
@-webkit-keyframes rightbody{
	0%{stroke-dashoffset:1250;visibility:hidden}
	100%{stroke-dashoffset:0;visibility:visible}
}

@keyframes rightbody{
	0%{stroke-dashoffset:1250;visibility:hidden}
	100%{stroke-dashoffset:0;visibility:visible}
}

@media only screen and (max-width: 768px){
	header{
		width: 100%;
	}
	#link li a,#index a{
		font-size:  1.8rem;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
	#index{
		margin-left: 30px;
	}
}

@media only screen and (max-width: 480px){
	header{
		text-align: center;
	}
	#index{
		display: none;  /*不显示主页文字*/
	}
	#link{
		float: none;
		display: inline-block;
	}
	#link li{
		margin: 0 5px;
	}
	svg{
		margin-top: 80px;
		width: 180px;
		height: 180px;
	}
}