html{
	font-size: 62.5%; /*1rem=10px*/
}
body{
	background-color: #2B90E7;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
header{
	overflow: auto;
	padding: 20px 0;
	margin: 0 auto;
	width: 90%;
	color: #FFF;
}
#index{
	float: left;
	margin-left: 80px;
}
#link{
	float: right;
}
#link li{
	display: inline-block;
	margin-right: 20px;
}
#link li a,#index a{
	text-decoration: none;
	color: #EFEFEF;
	font-size: 2.5rem;   /*25px*/
}
#link li a:hover{
	color: #FFF;
}
.logo{
	overflow: hidden;
}
.logo canvas{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 50px;
	left: 90px;
	width: 480px;
	height: 480px;
}
.hongbao{
	clear: both;
	padding: 20px 0px;
	text-align: center;
}
.hongbao a{
	margin: 0 auto;
	text-decoration: none;
	color: #FFF;
	font-size: 2rem;
	background-color: #00C80D;
	border: 1px solid #00C80D;
	border-radius: 20px;
	padding: 5px 10px;
}
@media only screen and (max-width: 768px){
	header{
		width: 100%;
	}
	#link li a,#index a{
		font-size:  1.8rem;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
	#index{
		margin-left: 30px;
	}
}

@media only screen and (max-width: 480px){
	header{
		text-align: center;
	}
	#index{
		display: none;  /*不显示主页文字*/
	}
	#link{
		float: none;
		display: inline-block;
	}
	#link li{
		margin: 0 5px;
	}
	.logo canvas{
		display: block;
		margin: 0 auto;
		position: relative;
		top: 50px;
		left: 60px;
		height: 300px;
		width: 300px;
	}
}