.col-xs-12 > .ibox .label-success{
	background-color: #36D958;
}
.col-xs-12 > .ibox .label-primary{
	background-color: #2B90E7;
}
.col-xs-12 > .ibox .label-info{
	background-color: #F6DA21;
}
.list-group  a{
	margin: 0 3px;
}
dt,dd{
	margin-bottom: 20px;
}
.question>a{
	width: 100px;
	margin-bottom: 30px;
}
.question{
	text-align: center;
}